body {
    font-family: "Edu TAS Beginner", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: var(--color-background);

}

/* * {
    border: 1px, solid, red;
} */